- if user.id == current_user.id
  =link_to edit_user_registration_path,class: "circular ui blue button"
    |プロフィールを編集
- elsif current_user.followings.include?(user)
  =link_to relationship_path(follow.id), method: :delete,class: "circular ui blue button", remote: true
    |フォロー解除
- else
  =link_to relationships_path(follow_id: user.id), method: :post,class: "circular ui blue button", remote: true
    |フォローする
