h2
  |お問い合わせ内容

h2
  |------------------------------------------
p
  |name: #{@contact.name}
p
  |email: #{@contact.email}

p
  |content:
  =simple_format(h(@contact.content))
h2
  |------------------------------------------
