/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

.back-main-color {
  background-color: #00B5AD !important
}

.white-color-text {
  color: #FFFFFF !important
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

.form-centered {
  display: inline-block;
}

.top-padding {
  padding-top: 60px;
}

.ui.sticky.fixed.top {
  top: auto;
  bottom: auto;
}

.ui.cards {
  display: flex;
  margin: 1em -0.5em;
  flex-wrap: wrap;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ui.inverted.vertical.footer.segment {
  margin-top: auto;
  padding: 4rem 0rem;
}

.ui.table td.cen {
  padding: 0.78571429em 0.78571429em;
  text-align: center;
}

.ui.vertical.stripe.segment {
  border: none;
}

.ui.centered.grid.margin-zero {
  margin-top: 1rem;
}

#dimmer {
  border: none;
  box-shadow: none;
  left: 70%;
}

.file-form {
  display: none;
}

#position-height {
  height: 25%;
}

.editicon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#logopadding {
  padding: 0;
}

.ui.tinysmall.image {
  width: 140px;
  height: auto;
  font-size: 0.92857143rem;
}

.title.ui.teal.button {
  padding: 0.78571429em;
  padding-right: 14px;
}

#newcard {
  width: 640px;
}

#recipe_card {
  width: 100%;
}

.ui.smallmedium.image {
  width: 200px;
  height: auto;
  font-size: 1rem;
}

.review_item {
  display: inline-block;
  width: 70%;
}
.top_review{
  display: inline-block;
  width: 100%;
}
.ui.pointing.label.margin {
  margin-top: 0;
}

.ui.teal.tag.label>a {
  opacity: 1;
}

#like_button {
  display: inline-block;
}

.review_meta {
  margin-bottom: 7px;
}

.extra {
  margin-top: 7px;
}

.inline {
  display: inline;
  margin: 0em 0.14285714em;
}

.ui.icon.header .icon.mt-10 {
  margin-top: 12px;
  margin-right: 8px;
}

.ui.items>.item>.image>img {
  border-radius: 500rem;
}

.no-color-change {
  color: rgba(0, 0, 0, 0.85)
}

.room_meta_r {
  margin: auto 5px 10px 0;
}

.room_meta_l {
  margin: auto 0 10px 5px;
}

.ui.active.inverted.dimmer {
  height: 80px;
  position: inherit;
}

.ui.segment.infinite-scroll-request {
  padding: 0;
}

.ui.teal.top.left.attached.label {
  font-size: 16px;
  padding: 0.6em 1em;
}

#title {
  margin-bottom: 1rem;
}

.inverted.menu .right.menu.toc {
  display: none;
}

body.pushable {
  background: white !important;
}

html,
body {
  height: auto;
  font-family: 'Noto Serif JP', serif;
}
h1,h2,h3,h4,h5 {
  font-family: 'Noto Serif JP', serif;
}
.ui.header {
  font-family: 'Noto Serif JP', serif;
}
.ui.button {
  font-family: 'Noto Serif JP', serif;
}
.ui.text.container {
  font-family: 'Noto Serif JP', serif;
}

h1.ui.header.top-title{
  min-height: 1em;
  font-size: 5.5em;
  margin-top: 1em;
  color: white;
  font-family: 'Vollkorn', serif;
  text-shadow: 1px 1px 0 #000
}

h1.ui.header{
  font-size: 3rem;
}
h1.ui.header.home_icon{
  font-size: 4rem;
}
.ui.vertical.stripe h2{
  font-size: 2rem;
}
.ui.vertical.stripe p {
  font-size: 1.2em;
}
.row.icon-header {
  margin: 2em 0;
}
.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-1rem{
  margin-right: 1rem !important;
}

.mb-1rem{
  margin-bottom: 1rem !important;
}

.m-2em {
  margin: 2em 0;
}

.m-3rem{
  margin: 3rem 0em !important;
}

.m-4em{
  margin: 4em 0em !important;
}

.mt-3rem {
  margin-top: 3rem !important;
}

.mt-25rem {
  margin-top: 2.5rem !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.titlecenter{
  justify-content: center;
}

.topfaceicon img{
  width: 100px;
  height: auto;
}
.balloon_l.top .says:after {
  top:30px;
  left: -26px;
  border-right: 22px solid #00B5AD;
}
.center.aligned.centered.fields{
  justify-content: center;
  margin: 0rem;
}
.content.field.active {
  margin-top: 1.2em;
}

.display_none{
  display: none !important;
}

.preview_form{
  min-height: 40em;
}

.date-select-form{
  display: inline-block !important;
  width: auto !important;
}

.inline_label {
  display: inline-block !important;
  padding-right: 2rem;
}

.inline_yen {
  display: inline
}
.news_segment {
  min-height: 240px
}

.load-dimmer {
  background-color: rgba(0,0,0,1) !important;
}

.turbolinks-progress-bar {
  height: 6px;
}
.bean_review_rate_form {
  margin: 0.5em 0 !important;
}
.six.wide.column > .ui.big.image{
  max-width: 150%;
}

@media only screen and (max-width: 700px) {
  .inverted.menu .right.menu.toc {
    display: block;
  }

  .inverted.menu .right.menu.hide {
    display: none;
  }
}
