/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

.text-left{
  text-align: left;
}
.top-padding{
  padding-top: 50px;
}
.ui.sticky.fixed.top {
  top: auto;
  bottom: auto;
}
.ui.cards {
  display: flex;
  margin: 1em -0.5em;
  flex-wrap: wrap;
}
.footer.segment {
  padding: 5em 0em;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ui.inverted.vertical.footer.segment{
  margin-top: auto;
}
.ui.table td.cen {
  padding: 0.78571429em 0.78571429em;
  text-align: center;
}
.ui.vertical.stripe.segment{
  border: none;
}
.ui.centered.grid.margin-zero{
  margin-top: 1rem
}
#dimmer{
  border: none;
  box-shadow: none;
  left: 70%;

}
