$('#tag_area').html("<%= j(render partial: 'shared/tag_form', locals: {tags: @tags, target: @target}) %>");
$(".ui.accordion").accordion();
  $("#tag_form").dropdown({
    allowAdditions: true,
    className: {
      label: "ui teal label",
    },
  });
  $("#tag_form").keydown(function (e) {
    if (e.key === "Enter") {
      return false;
    }
  });

const message_html = `
<div class="ui container top-padding">
  <div class="ui positive message flash-message">
    <i class="close icon"></i>
    <div class="ui center aligned header" id="message">
      <font style="vertical-align: inherit;">レビューを登録しました</font>
    </div>
  </div>
</div>
`
$('.ui.main.fixed.teal.inverted.menu').after(message_html)
$(".flash-message > .close").click(function () {
  $(".flash-message").closest(".ui.container.top-padding").transition("fade");
});
